a {
  text-decoration: none;
}

p {
  text-align: center;
  opacity: 0.6;
  letter-spacing: 10px;
  color: black;
}

div.gallery-link {
  width: 100%;
  height: 600px;
  line-height: 600px;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-position-y: 70%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 3s ease-out;
}

div.gallery-link:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  background-position-y: 40%;
}

div.gallery-link-text {
  color: white;
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 25px;
  opacity: 1;
  transition: 3s ease-out;
}

div.gallery-link-text:hover {
  letter-spacing: 35px;
  opacity: 1;
  color: black;
}

div.ninebox {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  /* margin-right: 20%; */
}

div.cell {
  width: 198px;
  height: 198px;
  background: white;
  margin: 0 auto;
  float: left;
  border: solid;
  border-width: 1px;
  border-color: white;
  background-size: 380px;
  background-position: center;
  opacity: 0.8;
  transition: 1s;
  -webkit-filter: grayscale(10%);
  -moz-filter: grayscale(10%);
  filter: grayscale(10%);
}

div.cell.portrait {
  background-size: 210px;
}

div.cell:hover {
  opacity: 1;
  background-size: 370px;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

div.cell.portrait:hover {
  background-size: 200px;
}

div.cell-lr {
  width: 60px;
  height: 60px;
  background: white;
  margin: 0 auto;
  float: left;
  border: solid;
  border-radius: 150px;
  border-width: 70px;
  border-color: white;
  background-size: contain;
  background-position: center;
  opacity: 0.1;
  transition: 1s;
  z-index: -1;
}

div.cell-lr:hover {
  transform: rotate(360deg);
}

div.back-link {
  width: 100%;
  height: 80px;
  opacity: 0.4;
  transition: 1s;
}

div.back-link:hover {
  opacity: 1;
}

div.cell-unsplash {
  width: 30px;
  height: 30px;
  background: white;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  opacity: .3;
  transition: 0.5s;
}

div.cell-unsplash:hover {
  transform: rotate(360deg);
  opacity: .6;
}

img {
  width: 100%;
  height: auto;
  background-size: cover;
}

div.image {
  width: 100%;
  height: 1000px;
  background-size: cover;
}

div.image.portrait {
  width: 100%;
  height: auto;
  background-size: cover;
}

div.white-space-200 {
  width: 100%;
  height: 200px
}

div.white-space-100 {
  width: 100%;
  height: 100px
}