div#slider {
  overflow: hidden;
  margin: auto;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin-top: -100px;
  z-index: 0;
  /* max-height: 800px; */
}

div#slider div {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  font-size: 0;
  animation: 20s slider infinite;
}

div#slider div img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0%;
  }

  15% {
    left: 0%;
  }

  20% {
    left: -100%;
  }

  35% {
    left: -100%;
  }

  40% {
    left: -200%;
  }

  55% {
    left: -200%;
  }

  60% {
    left: -300%;
  }

  75% {
    left: -300%;
  }

  80% {
    left: -400%;
  }

  95% {
    left: -400%;
  }
}

div#counter {
  height: 5px;
  width: 0%;
  background-color: black;
  position: absolute;
  opacity: 0.2;
  z-index: 1;
  animation: 4s counter infinite;
}

@keyframes counter {
  0% {
    width: 0%;
  }
  80% {
    width: 100%;
  }
  81% {
    width: 0%;
  }
}
