body {
  margin: 0;
  height: 100%;
  background-color: white;
  font-family: 'Roboto Mono';
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: black;
}

div#separator {
  overflow: hidden;
  margin: auto;
  width: 100%;
  max-width: 100%;
  min-height: 1000px;
  max-height: 1000px;
  z-index: 0;
  /* max-height: 800px; */
}

div#separator div {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  font-size: 0;
}

div#separator div img {
  width: 20%;
  background-position-y: 200px;
  float: left;
}

div#logo {
  margin-top: 100px;
  text-align: center;
}

div#logo img {
  width: 100px;
}

[data-aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[data-aos="fade"].aos-animate {
  opacity: 1;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/loader.gif") center no-repeat #fff;
}


.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  /* background-image: url("/img/highres/france-italy-1.jpg"); */
  background-attachment: fixed;
  margin-top: -150px;
}

.image-container img {
  width: 100%;
  height: 500px;
  /* object-fit: cover; */

}

div.image-text-overlay {
  font-size: 42px;
  letter-spacing: 12;
  position: absolute;
  bottom: 10;
  left: 15%;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.square {
  background-color: ffb76b;
  width: 3px;
  height: 48px;
  margin-right: 8px;
  margin-top: 6px;
}


.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* height: 600px; */
  /* background-color: blue; */
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.category {
  flex: 0 0 calc(33.33% - 20px);
  /* max-width: 25%; */
  width: 300px;
  height: 400px;
  margin: 20px;
  /* padding: 10px; */
  box-sizing: border-box;
  border-color: 0c2649;
  border-width: 0px;
  border-style: solid;
}

.category-image {

  background-position: center;
  background-size: cover;
  border-width: 0px;
  border-bottom-width: 0px;
  border-color: ffb76b;
  border-style: solid;
  padding: 0px;
  margin-bottom: 0px;
  height: 200px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.category-image:hover {
  border-bottom-width: 10px;
  padding: 2px;
}

.category-title {
  font-style: bold;
  letter-spacing: 6;
  font-size: 23px;
  margin-left: 10px;
}

.category-description {
  font-style: italic;
  font-size: 11px;
  margin-left: 10px;
  opacity: 0.7;
}



.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* height: 600px; */
  /* background-color: blue; */
  margin-right: 100px;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 200px;
}



.gallery-image {

  background-position: center;
  background-size: cover;
  /* border-width: 2px;

  border-color: black;
  border-style: solid; */

  height: 250px;
  width: 20%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  float: left;
  margin: 10px;
  filter: grayscale(20%);
}

.gallery-image:hover {
  filter: grayscale(0%);
}


.gallery-cell-landscape {
  flex: 0 0 calc(33.33% - 20px);
  /* max-width: 25%; */
  width: 400px;
  height: 300px;
  margin-top: 50px;
  margin-left: 15%;
  border-width: 0px;
  border-bottom-width: 0px;
  border-color: ffb76b;
  border-style: solid;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.gallery-cell-landscape:hover {
  /* border-bottom-width: 10px; */
}


.full-frame-gallery {
  height: 80%;
  margin-top: 50px;
  margin-bottom: 100px;

  border-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;

  border-color: ffb76b;
  border-style: solid;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  position: relative;
}

.full-frame-gallery-left {
  width: 55%;
  margin-left: 15%;
  z-index: 0;
}

.full-frame-gallery-middle {
  width: 45%;
  margin-left: 30%;
  z-index: 0;
}

.full-frame-gallery-double-left-to-middle {
  width: 50%;
  margin-left: 15%;
  z-index: 0;
}

.full-frame-gallery-double-right {
  width: 25%;
  margin-right: 5%;
  z-index: 0;
}

.full-frame-gallery-left:hover,
.full-frame-gallery-middle:hover,
.full-frame-gallery-double-left-to-middle:hover,
.full-frame-gallery-double-right:hover {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  z-index: 2;
}

div.image-gallery-text-overlay {
  font-size: 20px;
  letter-spacing: 5;
  position: absolute;
  bottom: 10;
  left: 2%;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  font-style: italic;
}

.gallery-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  /* background-image: url("/img/highres/france-italy-1.jpg"); */
  background-attachment: fixed;

}

.gallery-image-container-double {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80%;
  background-position: center;
  background-size: cover;
  /* background-image: url("/img/highres/france-italy-1.jpg"); */
  background-attachment: fixed;
  margin-bottom: 150px;

}

.gallery-image-container-double-element {

  height: 100%;
  position: absolute;
  top: 0;
  background-position: center;
  background-size: cover;
  /* background-image: url("/img/highres/france-italy-1.jpg"); */
  background-attachment: fixed;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.gallery-image-container-double-element:first-child {
  left: 0;
}

.gallery-image-container-double-element:last-child {
  right: 0;
}


.container-three-columns {
  width: 100%;
  height: auto;
  margin-bottom: 300px;
  margin-top: 100px;

}

.container-three-columns-center {
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
}

.column {
  width: 33.33%;
  height: 100%;
  float: left;
}

.column-image {
  margin: 3%;
  width: 90%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  filter: grayscale(70%);
}

.column-image:hover {
  filter: grayscale(0);
  width: 92%;

}

.experimental-container {
  margin-top: 100px;

  width: 80%;
  height: 80%;
  position: relative;
}

.experimental-image {
  width: 30%;
  height: 100%;
  background-color: blue;
  margin: auto;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 47%;
  top: -5%;
  -webkit-transition: all 0.7s ease-in-out 0s;
  transition: all 0.7s ease-in-out 0s;
  border-style: solid;
  border-radius: 40px;
  border-width: 7px;
  border-color: 2a0b1d;


}

.experimental-image-top {
  opacity: 0%;

}

.experimental-image-top:hover {
  opacity: 100%;
  border-color: c43588;
}


.grayout {
  filter: grayscale(70%);
}

h1 {
  font-size: small;
  font-weight: 500;
  width: 30%;
  margin: auto;
  text-align: justify;
  text-indent: 20px;
}


.smoke-image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* -webkit-transition: width 0.8s, height 0.8s;
  transition: clip-path .5s; */
  pointer-events: none;
  z-index: 0;
  position: absolute;
  opacity: 0;

}



.cursor-smoke {
  width: 2rem;
  height: 2rem;
  /* border: 2px solid white; */
  /* background-color: ffb001; */
  background: radial-gradient(rgb(244, 127, 10) 5%, rgba(138, 10, 10, 0) 70%);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* mix-blend-mode: difference; */
  -webkit-transition: width 0.8s, height 0.8s;
  transition: width 1.8s, height 1.8s;
  z-index: 4;

}

.active-smoke {
  -webkit-mask-image: radial-gradient(circle 100px at center, black 50%, transparent 100%);
  mask-image: radial-gradient(circle 100px at center, black 50%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 200% 200%;
  mask-size: 200% 200%;
  -webkit-transition: -webkit-mask-image 0.3s;
  transition: -webkit-mask-image 0.3s;
  transition: mask-image 0.3s;
  z-index: 3;
  opacity: 1;
}

.smoke-image-text-overlay {
  position: absolute;
  bottom: 0;
  width: 20%;
  color: f47f0a;
  margin: 20px;
}

.smoke-image-name {
  font-size: 22;
}

.smoke-image-description {
  font-size: 15;
  font-style: italic;
  opacity: 0.5;
}


.bike-image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* -webkit-transition: width 0.8s, height 0.8s;
  transition: clip-path .5s; */
  pointer-events: none;
  z-index: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.active-bike {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.text-bikepacking {
  font-size: 20;
}


.text-bikepacking-under-construction {
  width: 120px;
  height: 20px;
  opacity: 1;
  color: black;
  background-color: bdbe04;
  font-size: x-small;
  letter-spacing: 0;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
}


.text-night-under-construction {
  width: 120px;
  height: 20px;
  opacity: 1;
  color: black;
  background-color: ff9032;
  font-size: x-small;
  letter-spacing: 0;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
}

.text-light-under-construction {
  width: 120px;
  height: 20px;
  opacity: 1;
  color: black;
  background-color: 00c6ed;
  font-size: x-small;
  letter-spacing: 0;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
}



.night-image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* -webkit-transition: width 0.8s, height 0.8s;
  transition: clip-path .5s; */
  pointer-events: none;
  z-index: 0;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  margin-top: 0px;
}

.night-image-main-layer-person {
  background-image: url('/img/highres/Gallery/night/Person.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 64vh;
  margin-top: 57vh;
  position: absolute;
  z-index: 0;
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
}


.night-image-main-layer-mountain {
  background-image: url('/img/highres/Gallery/night/Mountains-soften.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 87vh;
  margin-top: 34vh;
  position: absolute;
  z-index: -1;
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
}

.night-image-main-layer-sky {
  background-image: url('/img/highres/Gallery/night/Sky.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 84vh;
  margin-top: -5vh;
  position: absolute;
  z-index: -2;
  -webkit-transition: height 0.8s;
  transition: height 0.8s;
}


.light-image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* -webkit-transition: width 0.8s, height 0.8s;
  transition: clip-path .5s; */
  pointer-events: none;
  z-index: 0;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  margin-top: -40px;
}


.light-image-main {
  background-image: url('/img/highres/Gallery/light/light-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  margin-top: 0vh;
  position: absolute;
  z-index: 0;
}